<div class="py-4 flex flex-col w-screen h-screen items-center bg-[#ECF4FE]">
    <div class="flex items-center text-justify w-[fit-content] max-w-[80%] bg-[#FFF6B1] text-gray-600 rounded p-1">
        <img class="w-[30px] mr-3" src="assets/img/light-bulb.png" alt="">
        Un verre progressif est un verre qui possède une puissance variable de correction sur l'ensemble de sa surface
    </div>
    <h2 class="my-5 py-5">Sélectionnez vos options</h2>
    <form class="relative flex flex-wrap justify-center items-between mt-5">
        <div class="h-[fit-content] bg-white p-5 m-2 w-[48%] rounded-xl shadow">
            <h2 class="mb-3">Champ visuel</h2>
            <div class="flex justify-start items-center">
                <input data-price="50.0" data-row="1" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">optimisé HD</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="105.0" data-row="1" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">optimisé HD+ (dernière gen.)</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="165.0" data-row="1" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">optimisé Prédict (IA)</label>
            </div>
        </div>
        <div class="h-[fit-content] bg-white p-5 m-2 w-[48%] rounded-xl shadow">
            <h2 class="mb-3">Traitements</h2>
            <div class="flex justify-start items-center">
                <input data-price="20.0" data-row="2" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">antireflet HD</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="35.0" data-row="2" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">filtre bleu HD</label>
            </div>
        </div>
        <div class="h-[fit-content] bg-white p-5 m-2 w-[48%] rounded-xl shadow">
            <h2 class="mb-3">Teinte</h2>
            <div class="flex justify-start items-center">
                <input data-price="10.0" data-row="3" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">Uni 85% Gr.Br. GrisUS</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="20.0" data-row="3" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">Polarisant</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="50.0" data-row="3" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">Photochromique Gr. Br.</label>
            </div>
        </div>
        <div class="h-[fit-content] bg-white p-5 m-2 w-[48%] rounded-xl shadow">
            <h2 class="mb-3">Amincissements</h2>
            <div class="flex justify-start items-center">
                <input data-price="20.0" data-row="4" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">verre fin (1.6 / -20%)</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="50.0" data-row="4" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">verre ultra fin (1.67 / -35%)</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="45.0" data-row="4" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">correction > 10 (1.74 / -45%)</label>
            </div>
            <div class="flex justify-start items-center">
                <input data-price="10.0" data-row="4" class="checkbox mr-5 mt-1" type="checkbox">
                <label for="">précalibrage</label>
            </div>
        </div>
        <div class="absolute bg-white p-4 mr-4 shadow bottom-[-200px] right-[0px] rounded-xl">
            Total : 
            <span id="price-container-progressifs">0</span>
            €
        </div>
    </form>
</div>